@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.index-body{
    width: 100%;
    height: 100vh;
    background-color: black;
    font-family: "poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#preloader{
    background: black url("img/loader.gif") center center no-repeat;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: none;
}

header{
    position: relative;
    width: 80%;
    height: 90%;
    border: 1px solid white;
    border-radius: 20px;
    overflow: hidden;
}

header::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("img/money\ heist1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
}

header::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg,transparent,black);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

header video{
    position: absolute;
    top: -28%;
    left: 0;
    z-index: -1;
}

header nav{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    margin-top: 7px;
}

header nav .logo-ul{
    display: flex;

}
header nav .logo-ul img{
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto; 
}

header nav .logo-ul .movies-list{
    border: 1px solid white;
    color: white;
    opacity: 0;
    position: absolute;
    top: 30px;
    left: 280px;
    background-color: black;
    z-index: 10;
    padding: 5px;
    display: none;
}
header nav #searchInput{
    width: 200px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
    padding-inline: 5px;
    color: white;
    outline: none;
}

header nav #searchInput::placeholder{
    color: white;
}

header nav .logo-ul li:hover .movies-list{
    opacity: 1;
    display: block;
}
header nav .logo-ul li:hover .movies-list p{
    cursor: pointer;
}
header nav .logo-ul li:hover .movies-list p:hover{
    color: gray;
}


header nav .logo-ul ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

}
header nav .logo-ul ul li{
    padding: 30px 15px;

}
header nav .logo-ul ul li a{
    text-decoration: none;
    color: white;font-size: 12px;
    font-weight: bold;
    transition: 0.3s linear;
}

header nav .logo-ul ul li a:hover{
    color: rgb(255, 255, 255,0.7);
}

/* ! header icerisindeki content alanini kodluyoruz */

header .content{
    color: white;
    position: relative;
    margin-top: 50px;
    padding-left: 50px;
}

header .content h1{
    font-size: 50px;
}

header .content p{
    width: 50%;
    text-align: justify;
    word-spacing: -2px;
   
}

header .content .details{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;

}

header .content .details h6:nth-child(1){
    color: rgb(255, 255, 255,0.7);
}
header .content .details h6:nth-child(2){
    color: rgb(142, 230, 48);
}

header .content .details h6:nth-child(4) span{
    background-color: yellow;
    color: black;
    padding: 0px 3px;
    margin: 0px 5px;
    font-weight: bold;
    border-radius: 4px;
}
header .content .details h6:nth-child(4) i{
    margin-right: 5px;
}
header .content .btns{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

header .content .btns a{
    padding: 8px 12px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    background: linear-gradient(90deg,#00bdff, #0079ff);
    animation: button 0.8s linear infinite;
}

/* ! watch ve download btn animasiyonlar */

@keyframes button{
    0%{
        background: linear-gradient(0deg,#00bdff, #0079ff);
    }
    12%{
        background: linear-gradient(45deg,#00bdff, #0079ff);
    }
    24%{
        background: linear-gradient(90deg,#00bdff, #0079ff);
    }
    36%{
        background: linear-gradient(135deg,#00bdff, #0079ff);
    }
    48%{
        background: linear-gradient(180deg,#00bdff, #0079ff);
    }
    60%{
        background: linear-gradient(225deg,#00bdff, #0079ff);
    }
    72%{
        background: linear-gradient(270deg,#00bdff, #0079ff);
    }
    84%{
        background: linear-gradient(315deg,#00bdff, #0079ff);
    }
    100%{
        background: linear-gradient(360deg,#00bdff, #0079ff);
    }
}

/* ! index.html icindeki populer alaninin tasarimi */
header section{
    position: absolute;
    width: 100%;
    height: auto;
    padding: 0px 50px;
    bottom: 20px;
    color: white;
}

header section .cards{
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
}

header section .cards::-webkit-scrollbar{
    display: none;
}

header section .cards .card{
    position: relative;
    min-width: 130px;
    height: 180px;
    border-radius: 8px;
    margin-right: 10px;
    background-color: black;
    transition: 0.3s linear;
}

header section .cards .card .poster{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;
}

header section .cards .card:hover{
    min-width: 300px;
    overflow: hidden;
}

header section .cards .card .rest_card{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    left: 0;
    top: 0;
    z-index: 99999;
    opacity: 0;
    transition: 1s linear;
}

header section .cards .card .rest_card img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: -1;
}

header section .cards .card .rest_card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, transparent,black);
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}


header section .cards .card .rest_card .cont{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
    color: white;
    padding: 0px 20px;
}

header section .cards .card .rest_card .cont .sub{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header section .cards .card .rest_card .cont .sub p{
    font-size: 12px;
    font-weight: 400;
    color: rgb(255,255,255,0.7);
}

header section .cards .card .rest_card .cont .sub h3{
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
}

header section .cards .card .rest_card .cont .sub h3 span{
    background-color: yellow;
    color: black;
    padding: 0px 3px;
    margin: 0px 5px;
    font-weight: bold;
    border-radius: 2px;
}

header section .cards .card .rest_card .cont .sub h3 i{
    margin-right: 3px;
}

header section .cards .card:hover .rest_card{
    opacity: 1;
}


header section .fa-chevron-left,
header section .fa-chevron-right{
    position: absolute;
    top: 50%;
    left: 3%;
    width: 25px;
    height: 25px;
    background-color: rgb(255,255,255,0.3);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s linear;
    z-index: 999;
    opacity: 0;
}

header section .fa-chevron-right{
    left: unset;
    right: 3%;
}

header section:hover .fa-chevron-left,
header section:hover .fa-chevron-right{
    opacity: 1;
}


/* !movies syfasi tasarimi */

.movies-body,
.series-body{
    width: 100%;
    background-color: black;
    font-family: "Poppins", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.movies-body header,
.series-body header{
    position: relative;
    width: 80%;
    border: 1px solid white;
    border-radius: 20px;
    overflow: hidden;
}

.movies-body .movies-content,
.series-body .series-content{
    margin-top: 50px;
}

.movies-content .popular,
.series-content .popular{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.movies-content .popular .movie-card,
.series-content .popular .serie-card{
    width: 22%;
    border: 1px solid white;
}

.movies-content .movie-card,
.series-content .serie-card{
    overflow: hidden;
}

.movies-content .movie-card:hover img,
.series-content .serie-card:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.movies-content .popular .movie-card img,
.series-content .popular .serie-card img{
    width: 100%;
    height: 300px;
    cursor: pointer;
}

.movies-content .popular .movie-card .movie-info,
.series-content .popular .serie-card .serie-info{
    margin-top: -10px;
    text-align: center;
    color: white;
    padding: 20px 10px;
    background: linear-gradient(45deg,black,white);
}

.movies-content .popular .movie-card .movie-info h4,
.series-content .popular .serie-card .serie-info h4{
    text-transform: uppercase;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.movies-content .popular .movie-card .movie-info p,
.series-content .popular .serie-card .serie-info p{
    font-size: 12px;
}

.movies-content .popular .movie-card .movie-info h6,
.series-content .popular .serie-card .serie-info h6{
    color: white;
    margin-top: 5px;
}

.movies-content .popular .movie-card .movie-info span,
.series-content .popular .serie-card .serie-info span{
    background-color: yellow;
    padding: 3px;
    margin: 3px 5px;
    color: black;
    border-radius: 2px;
}




/* ! Detay.html sayfas覺n覺n tasar覺m覺 */
.detay-body{
    width: 100%;
    background: black;
    font-family: "Poppins",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.detay-body header{
    position: relative;
    width: 80%;
    border: 1px solid white;
    border-radius: 20px;
    overflow: hidden;
}

.detay-body header .film-detay-wrapper .film-detay{
    display: flex;
    justify-content: space-between;
    color: white;
}

.detay-body header .film-detay-wrapper .film-detay .film-bilgileri{
    margin: 50px 20px;
}

.detay-body header .film-detay-wrapper .film-detay .film-bilgileri h2{
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.detay-body header .film-detay-wrapper .film-detay .film-bilgileri strong{
    color: wheat;
    margin-right: 10px;
}

.detay-body header .film-detay-wrapper .film-detay .film-bilgileri p{
    font-style: italic;
    margin: 10px 0px;
}

.detay-body header .film-detay-wrapper .film-detay .fragman-izle-btn{
    color: white;
    background-color: wheat;
    border: none;
    padding: 3px 5px;
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: 2px;
}

.detay-body header .film-detay-wrapper .film-detay .fragman-izle-btn:hover{
    transform: scale(0.9);
}


.detay-body .oyuncular-wrapper{
    padding-inline: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.detay-body .oyuncular-wrapper .oyuncu-card{
    width: 24%;
    height: 400px;
    color: white;
    margin-bottom: 20px;
    border: 2px solid grey;
    box-shadow: 3px 3px 10px grey;
    background: linear-gradient(45deg,black,white);
    text-align: center;
}

.detay-body .oyuncular-wrapper .oyuncu-card img{
    width: 100%;
    height: 300px;
}

.detay-body .oyuncular-wrapper .oyuncu-card strong{
    color: wheat;
    margin-right: 5px;
}

.detay-body h3{
    color: white;
    text-align: center;
    font-size: 35px;
    border: 1px solid white;
    background: linear-gradient(45deg,darkred,white);
    letter-spacing: 2px;
    margin-bottom: 20px;
}

